*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #FFF;
}
body{
	font-family: arial;
}
.corpo{
	background: #f1f7f9;
}
.menu{
	background: #7180ac;
	width: 14rem;
	height: 100%;
	position: fixed;
	box-shadow: 3px 3px 3px rgba(113,128,172,0.5);
}
.link{
	color: #FFF;
	padding: 20px;
	background: #53628d;
	cursor: pointer;
	transition: all .1s;
	font-size: 13pt;
}
.link:hover{
	background: #445174;
	transition: all .2s;
}
.perfil img{
	border-radius: 100%;
	width: 175px;
	height: 175px;
	padding: 5px;
	background: #FFF;
	margin: 5rem 0 5rem 5rem;
}
main{
	margin: 10rem 15rem 10rem 20rem;
	padding: 2rem;
	color: white;
	background: #53628d;/* 7180ac */
	position: absolute;
	border-radius: 7px;
}
